<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @post, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">タイトル：<%= @post.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>内容</th>
                </tr>
                <tr>
                  <td><%= simple_format @post.body %></td>
                </tr>
                <tr>
                  <td class="display-flex">
                    <% if current_user.already_liked?(@post) %>
                      <%= button_to post_like_path(@post), method: :delete do %>
                        <span class="icon has-text-danger"><i class="fas fa-2x fa-heart"></i></span>
                      <% end %>
                    <% else %>
                      <%= button_to post_likes_path(@post) do %>
                        <i class="far fa-2x fa-heart"></i>
                      <% end %>
                    <% end %>
                    いいね件数: <%= @post.likes.count %>
                  </td>
                </tr>
              </table>
              <% if @post.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_post_path(@post), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            <%= @post.user.username %>さん
          </p>
          <div class="panel-block">
            <p class="control">
              一言：<%= @post.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@post.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @post.user.username %> さんのページへ
          <% end %>
        </article>
          <h2>コメント一覧</h2>
        <div class="comments_index">
          <% @comments.each do |c| %>
            <div>
              <a href="/users/<%= c.user.id %>"><%= c.user.username %></a>
              <%= c.content %>
              <% if c.user.id == current_user.id %>
                <%= link_to post_comment_path(@post,c), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                  <span class="panel-icon">
                    <i class="fas fa-trash"></i>
                  </span>
                <% end %>
              <% end %>
              <br>
              投稿日：<%= c.created_at.to_s(:datetime_jp) %>
              <hr>
            </div>
          <% end %>
        </div>

        <%= form_for [@post, @comment] do |f| %>
          <div class="field">
            <div class="control">
              <%= f.text_field :content, class:"input", placeholder:"コメント" %>
              <%= f.hidden_field :post_id, value: @post.id %>
            </div>
          </div>
          <br>
          <div class="field is-grouped">
            <div class="control">
              <%= f.submit 'コメントする', class:"button is-link" %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
